body{
	background-color:transparent;
}
.header{
	height:70px;
	background-color:#4286f4;
	color:white;
	line-height:15px;
	padding-left:20px;
	font-size:30px;
	font-family:arial black;
	letter-spacing:-5px;
	
}
.banner{
	height:200px;
	background-image:url("banner3.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:white;

	font-size:50px;
	font-weight:bolder;
	line-height:200px;
	padding-left:30px;
	
}
.left-box1{
	width:25%;
	float:left;
}
.block1{
	height:400px;
	padding-top:20px;
	background-color:#4286f4;
	margin-top:20px;
	color:#7aadff;
	padding-left:20px;
	
}	
a{	
  color:#7aadff;
}
.block2{
	height:250px;
	padding-top:20px;
	background-color:#4286f4;
	margin-top:20px;
	color:white;
	padding-left:20px;
    padding-right:20px;

	
	
}
.searchBar{
	border: 1px solid black;
	height:40px;
}
.content{
	width:45%;
	float:left;
	font-size:20px;
	color:gray;
	padding-left:20px;
	
}
#btn1{
	background-color:#4286f4;
	padding:5px;
	border-radius:5%;
	
}
#btn2{
	background-color:gray;
	color:black;
	padding:5px;
}
.right-content{
	width:25%;
	float:right;
}
.three{
	
}
	
